@import-normalize;

body {
  margin: 0;
  font-family: SlidoSansFont, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}
