@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: SlidoSansFont, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SlidoSansFont";
  src: local("SlidoSansFont"),
    url(./fonts/SlidoSans-Normal.woff2) format("woff2");
}
